/* the whole page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* the whole body of the page */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }

h1 {
    font-weight: bold;
}

.weatherIcon {
    width: 30%
}

.flex {
    display: flex;
    justify-content: space-evenly;
}


.card {
    width: 100vw !important;
}

